.container {
	margin: 8% auto 0;
	text-align: center;
	width: 300px;
}
@media (max-width: 768px) {
	.container {
		margin: 30% auto 0;
	}
}
table {
	border:none;
}
td {
	background-color: #ccc;
	border: 2px solid #fff;
	font-size: 52px;
	color: #333;
}
.btn-restart {
	width: 70px;
	height: 26px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #555;
	font-size: 12px;
}
.btn-restart:hover {
	background-color: #ddd;
}
#turn {
	color: green;
}
